# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# 虚拟环境
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch 模型文件（太大，不提交）
*.pth

# 数据文件（太大，不提交）
*.csv

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
~$*.docx

# macOS
.DS_Store

# 其他
*.log
.idea/
